.create {
    text-decoration:none;
    border: solid black 1px;
    border-radius: 25vh;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.create:hover {
    background-color: blue;
    color: white;
}